.right {
    float: right;
}

.logo-empresa {    
    display: block;
    width: 139px;    
    height: 87px;    
    background-image: url(../imagens/logo.png);
    background-repeat: no-repeat;
}

.logo-empresa--posicao {
    margin: 5px auto;
}

.menu {
    list-style: none;    
    margin: 0;    
    padding: 0;                
    line-height: 97px;
    font-size: 1.4rem;
}

.menu--posicao {
    text-align: center;
}

.menu__item {        
    display: inline-block;    
    width: 95px;
    text-align: center;
}

.menu__item a {   
    display: block; 
    text-decoration: none;
    color: #333;        
}

.menu__item::after {
    display: block;
    position: relative;
    content: '';
    background: #f00;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 2px;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.menu__item:hover::after {
    width: 100%;
}

.menu__item:hover  {
    font-weight: bold;
}

@media (min-width: 768px) {
    .logo-empresa--posicao {
        margin: 5px 0;
    }   

    .menu--posicao {
        text-align: right;
    }   
}

.contato-informacao, .fale-conosco {
    margin-bottom: 50px;
    font-size: 1.4rem;
}

.contato-informacao ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 30px;    
}

.contato-informacao ul li a {
    text-decoration: none;
    color: #333;
}

.contato-informacao__icone {
    display: inline-block;     
    width: 18px; 
    height: 30px;         
    margin-right: 10px;    
    background-repeat: no-repeat;       
}

.contato-informacao__icone--telefone {    
    margin-bottom: -18px;
    background-image: url(../imagens/phone-icon.svg);
}

.contato-informacao__icone--email {
    margin-bottom: -18px;
    background-image: url(../imagens/email-icon.svg);    
}

.contato-informacao__icone--endereco {
    margin-bottom: -14px;
    background-image: url(../imagens/address-icon.svg);    
}

.fale-conosco input, .fale-conosco textarea {
    margin-bottom: 3px;
}

.btn--limpar {
    background-color: #ccc;
}

.btn--enviar, .btn--enviar:hover, .btn--enviar:focus {
    background-color: #f00;
    color: #fff;
}