.right {
    float: right;
}

.logo-empresa {    
    display: block;
    width: 139px;    
    height: 87px;    
    margin: 5px 0;
    background-image: url(../imagens/logo.png);
    background-repeat: no-repeat;
}

.botao__menu {
    float: right;
    padding: 5px 10px 9px 10px;
    margin-top: 30px;
    border-radius: 2px;
    background: none;
    border: 1px solid #ccc;    
    outline: none;
}

.botao__menu span {
    display: block;
    width: 22px;    
    height: 2px;    
    border-radius: 1px;
    margin-top: 4px;
    background-color: #ccc;
}

.menu {
    position: fixed;
    z-index: 9999;    
    top: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    list-style: none;    
    margin: 0;               
    width: 200px;    
    line-height: 50px;         
    font-size: 1.4rem;     
    opacity: 0.9;    
    padding: 110px 20px;
    background-color: #ccc;       
    border-radius: 0 10px 10px 0;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.menu--exibindo {    
    width: 0;
    padding: 0;
}

.menu__item {            
    width: 160px;
}

.menu__item a {   
    display: block; 
    text-decoration: none;
    color: #333;        
}

.menu__item::after {
    display: block;
    position: relative;
    content: '';
    background: #f00;
    left: 0;
    bottom: 1px;
    width: 0;
    height: 2px;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.menu__item:hover  {
    font-weight: bold;
}   

.menu__item:hover::after {
    width: 59.375%;
}  

@media (min-width: 768px) {
    
    .botao__menu {
        display: none;
    }

    .menu {                
        position: static;
        float: right;                
        width: 491px;                    
        line-height: 97px;        
        opacity: 1; 
        background: none;  
    }

    .menu--exibindo {
        display: inline-block;
    }

    .menu__item {        
        display: inline-block;            
        text-align: center;
        width: 95px;        
    }  

    .menu__item:hover::after {
        width: 100%;
    }  
}

.contato-informacao, .fale-conosco {
    margin-bottom: 50px;
    font-size: 1.4rem;
}

.contato-informacao ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 30px;    
}

.contato-informacao ul li a {
    text-decoration: none;
    color: #333;
}

.contato-informacao__icone {
    display: inline-block;     
    width: 18px; 
    height: 30px;         
    margin-right: 10px;    
    background-repeat: no-repeat;       
}

.contato-informacao__icone--telefone {    
    margin-bottom: -18px;
    background-image: url(../imagens/phone-icon.svg);
}

.contato-informacao__icone--email {
    margin-bottom: -18px;
    background-image: url(../imagens/email-icon.svg);    
}

.contato-informacao__icone--endereco {
    margin-bottom: -14px;
    background-image: url(../imagens/address-icon.svg);    
}

.fale-conosco input, .fale-conosco textarea {
    margin-bottom: 3px;
}

.btn--limpar {
    background-color: #ccc;
}

.btn--enviar, .btn--enviar:hover, .btn--enviar:focus {
    background-color: #f00;
    color: #fff;
}