.layout-cabecalho {
    height: auto;    
    border-bottom: 1px solid #ccc;
}

.layout-rodape {
    height: 65px;
    line-height: 65px;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    margin-top: 100%;
    background-color: #f00;    
}