.layout-cabecalho {
    height: auto;    
    border-bottom: 1px solid #ccc;
}

.layout-rodape {
    height: 65px;
    color: #fff;    
    font-size: 1rem;
    text-align: center;    
    margin-top: 500px;
    padding: 19px 0;
    background-color: #f00;    
}